@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url("https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Bold"), local("Montserrat-Bold"), url("https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    min-height: 100vh;
    display: flex;
    color: #444;
    flex-direction: column;
    font-family: "Montserrat";
}

body > div {
    flex: 1 0 auto;
}

.container {
    max-width: 800px;
}

h1, h2, h3, a, label {
    color: #6081C9;
}

body > footer a,
nav ul li a {
    color: white;
    opacity: 0.8;
}

nav ul li a:hover,
nav ul li.active a {
    color: white;
    opacity: 1;
}

input.form-control {
    border-color: #DDD;
    font-size: 15px;
}

.input-group-text {
    font-size: 15px;
}

input.form-control:focus {
    border-color: #FF5E00;
}

.btn {
    border: 1px solid #FF5E00;
    background-color: transparent;
    color: #FF5E00;
    border-radius: .25rem;
    font-size: 15px;
    letter-spacing: 0.75px;
}

.btn.btn-centered {
    display: block;
    margin: 1rem auto;
}

.btn:hover {
    background-color: #FF5E00;
    color: white;
    border-color: #FF5E00;
}

.btn:not(.disabled):not(:disabled):active,
.btn:not(.disabled):not(:disabled):focus {
    background-color: #6081C9;
    border-color: #6081C9;
}

body > footer,
body > header nav {
    background-color: #6081C9;
}

body > footer {
    color: white;
    padding: 1rem;
    text-align: center;
}
