variables:
  ROCKY_8_IMAGE_VERSION: 20250702_171834_update_rocky8_dockerhub
  ROCKY_9_IMAGE_VERSION: 20250702_171314_update_rocky9_dockerhub
  ROCKY_10_IMAGE_VERSION: 20250908_164454_rocky10_first
  DEBIAN_12_IMAGE_VERSION: 20250908_154742_refresh_dependencies
  DEBIAN_13_IMAGE_VERSION: 20251204_115628_update_packages
  PHP_REDIS_REMI_VERSION: php-pecl-redis6-6.1.0-1
  PHP_IGBINARY_REMI_VERSION: php-pecl-igbinary-3.2.16-2
  PHP_MSGPACK_REMI_VERSION: php-pecl-msgpack-2.2.0-3

include:
  - '.gitlab-ci-files/prepare-package.yml'
  - '.gitlab-ci-files/package.yml'
  - '.gitlab-ci-files/test.yml'
  - '.gitlab-ci-files/deploy.yml'

stages:
  - prepare-package
  - package
  - test
  - deploy
